//COLOR
$pre-color: #131313;
$sec-color: #3a3a3a;
$tri-color: #ffffff;

//FONT & TEXT
$pre-text-color: #fff;
$sec-text-color: #333;
$tri-text-color: #000;

$font-noto: 'Noto Sans', sans-serif;

$font-sm:1rem;
$font-md:3rem;
$font-lg:5rem;
$font-xl:10rem;

//BORDERS
$rounded-sm: 0.3rem;
$rounded-md: 1rem;
$rounded-lg: 2px;
$rounded-max: 9999px;

//SHADOWS
$shadow:rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;



