//COLOR
$color-white:      #ffffff;
$color-black:      #191720;
$color-dark-gray:  #24212E;
$color-light-gray: #454556;

//FONT-SIZE
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 24px;
$font-xl: 40px;

//BORDER
$border: solid 1px #ffffff1f;

//BORDER-RADIUS
$rounded-sm: 10px;
$rounded-md: 17px;
$rounded-lg: 20px;

//FONT
$font-roboto: 'Roboto', sans-serif;
