@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import 'breakpoints';
@import 'mixins';
@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-roboto;

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
  -webkit-text-fill-color: $color-white;
  -webkit-box-shadow: 0 0 0px 1000px $color-dark-gray inset;
  }
}

body {
  @include center();
  color: $color-white;
  background-color: $color-black;
}

main {
  width: 78vw;
  height: 100%;
  padding: 30px 0;
  margin-bottom:80px;
}

.icon {
  color: $color-white;

  &.icon-small {
    font-size: 1rem;
  }

  &.icon-medium {
    font-size: 2rem;
  }

  &.icon-large {
    font-size: 3rem;
  }
}

.spinner {
  animation-name: spin;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 6.25rem;
  width: 6.25rem;
  margin: 2rem auto;
  display: none;

  &.shown {
    display: block;
  }

  &.large {
    font-size: 10rem;
  }
}

.spinner-overlay {
  display: none;
  z-index: 10;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(71, 71, 71, 0.349);

  &.shown {
    display: block;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

