@import 'global.scss';

.chat-title {
    margin: 40px 0;
}

.chat-box {
    text-align: center;
    background-color: $color-dark-gray;
    height: 10%;
    border-radius: 20px;
    padding: 20px;
    margin: 30px 0;
    cursor: pointer;
    transition: all 100ms;
}

.chat-box:hover {
    background-color: $color-light-gray;
}

.profile-img {
    float: left;
}

.chat-displayname {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: $font-lg;
}

.onlinedot {
  height: 30px;
  width: 30px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}