@import 'global.scss';

.chat-title {
    margin: 40px 0;
}

.chat-box {
    text-align: center;
    background-color: $color-dark-gray;
    height: 10%;
    border-radius: 20px;
    padding: 20px;
    margin: 30px 0;
    cursor: pointer;
    transition: all 100ms;
    display: flex;
    justify-content: space-between;

    &:hover {
        background-color: $color-light-gray;
    }
}

.profile-img {
    font-size: 2.5rem;
}

.chat-options-wrapper{
    position: relative;

    .chat-options-modal {
        display: none;
        background-color: $color-white;
        padding: 0.5rem;
        font-size: $font-sm;
        text-align: left;
        color: $color-black;
        position: absolute;
        right: -50px;
        top: 45px;
        width: 80px;

        &.shown {
            display: block;
        }

        .un-match {
            color: rgb(182, 66, 21);
        }
    }
}
.chat-options {
    padding: 0.5em;
    border-radius: 5px;
    font-size: $font-lg;
    background-color: none;
    
    &:hover {
        transition: all 100ms;
        background-color: $color-dark-gray;
    }
}

.chat-displayname {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: $font-lg;
}
