@import "global.scss";

.showcase {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;

  button {
    margin: 0 4%;
  }
  .item-container {
    padding: 0 10px;
    width: 100%;
    column-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr) minmax(70px, 1fr));
    grid-gap: 20px;
    place-items: center;

    @include media("<=phone") {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .item {
      @include center();
      text-align: center;
      background-color: $color-dark-gray;
      padding: 10px;
      width: 100%;
      max-width: 140px;
      border-radius: $rounded-lg;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $font-xs;
      border: $border;

      -webkit-box-shadow: 0px 10px 13px -7px #0000005d, 5px 5px 15px 5px rgba(0,0,0,0); 
      box-shadow: 0px 10px 13px -7px #0000005d, 5px 5px 15px 5px rgba(0,0,0,0);
    }
  }
}
