@import 'global.scss';

.home {
  
  h1 {
   @include large-title();
  }

  p {
   @include paragraph();
   opacity: 0.5;
   margin-bottom: 12.5rem;
  }

  div {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 25rem;
  }

}