@import "global.scss";
.nav-background{
  background: #191720;
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
  .nav-container {
    align-items: center;
    border-radius: $rounded-md;
    display: flex;
    margin: 0px auto;
    margin-bottom: 20px;
    width: 80%;
    height: 60px;
    justify-content: space-around;
    max-width: 700px;
    padding: 0 20px;
    background-color: $color-dark-gray;
    
  
    .icon {
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  
    .active-link{
      opacity: 1;
    }
  
  }
}



