@import 'global.scss';

.dropdown-multi {
  width: 100%;
  margin-bottom: 1.875rem;

  .input-dropdown-multi {
    max-width: 25rem;
    z-index: 5;
    margin: 0 auto;
  }

  label {
    @include hide-label();
  }
}
