@import "global.scss";

.loading-switch {
  width: 100%;
  max-width: 24.5rem;
  div:first-child {
    @include checkbox-label();
    margin-bottom: 1.875rem;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    &:hover {
      border: $border;
    }
  }
}
