@import "global.scss";

.preferences-title {
  text-align: center;
  font-size: $font-lg;
  margin-top: 50px;
  margin-bottom: 40px;
}

.preferences-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h2 {
    width: 100%;
    margin-left: 20px;
    max-width: 400px;
    font-size: $font-sm;
    font-weight: 300;
    opacity: 0.8;
    margin-bottom: 15px;
  }
}
