@import 'global.scss';

.preferences {
  h1 {
    @include title();
    margin-top: 1rem;
  }

  .container {
    @include flex(space-between, center, column);

    h2 {
      width: 100%;
      margin-left: 1.25rem;
      max-width: 25rem;
      font-size: $font-sm;
      font-weight: 300;
      opacity: 0.8;
      margin-bottom: 0.9375rem;
    }
  }

  .loading {
    @include flex(space-between, center, column);

    margin-top: 3rem;
  }
}
