@import 'global.scss';

.edit-profile {

  h1 {
    @include title();
    margin-top: 1rem;
  }

  h2 {
    @include sub-title();
  }

  form {
    @include flex(space-between, center, column);
  }

  .loading {
    @include flex(
      space-between, 
      center, 
      column
    );

    margin-top: 3rem;
  }
}

.modal {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr) minmax(10rem, 1fr));
  place-items: center;
  grid-gap: 1.25rem;
  top: 2.5rem;
  bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: $color-dark-gray;
  color: $color-white;
  height: 100%;
  max-height: 35rem;
  width: 100%;
  min-width: 15.625rem;
  max-width: 25rem;
  border: none;
  border-radius: $rounded-sm;
  overflow: auto;
  outline: none;
  padding: 1.25rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #19172099;
  z-index: 11;
}

.button-modal {
  @include button();
  margin-bottom: 1.875rem;
}

img {
  width: 3.75rem;
  image-rendering: pixelated;
  border-radius: $rounded-sm;
  cursor: pointer;
}

