@import 'global.scss';

#notification {
  position: absolute;
  width: 100%;
  max-width: 25rem;
  transform: translate(-50%);
  left: 50%;
  z-index: 5;
  background-color: transparent;
  border-radius: $rounded-lg;
  box-shadow: 0px 0.625rem 0.8125rem -0.4375rem #000000b7;
}
