@import 'global.scss';

p {
    color: $primary-text-color;
    padding: 20px
}

.text-xl {
    font-size: $font-xl;
    font-weight: 700;
}

.text-lg {
    font-size: $font-lg;
    font-weight: 600;
}

.text-md {
    font-size: $font-md;
}

.text-sm {
    font-size: $font-sm;
}

.text-xs {
    font-size: $font-xs;
}

.flex{
    margin: 20px;
    display: flex;
    flex-direction: row;
}

button{
    margin: 20px;
}

.input {
    margin-right: 40px;
    @include center();
    @include input-field();
}

.button-dark {
    @include button();
    height: 65px;
    width: 285px;
    background: $secondary-button-color;
    color: $primary-text-color;
}

.button-light {
    @include button();
    height: 65px;
    width: 285px;
}

.sign-up {
    @include button();
    height: 65px;
    width: 130px;
}

.sign-in {
    @include button();
    height: 65px;
    width: 130px;
    background: $secondary-button-color;
    color: $primary-text-color;
}