@import "global.scss";

.input-password {
  @include input-field();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  .toggle-label {
    display: inline-block;
    background: url("../../assets/icons/eye-open.svg");
    width: 40px;
    height: 40px;
  }

  #toggle-pw {
    display: none;
    &:checked ~ .toggle-label {
      background: url("../../assets/icons/eye-close.svg");
    }
  }

  .input-text {
    color: $color-white;
    background: $color-dark-gray;
    border: none;
    font-size: $font-sm;
    font-weight: 500;
    cursor: text;
  }

  .input-text:focus {
    outline: none;
  }
}
