@import "global.scss";

.input-password {
  width: 100%;
  max-width: 25rem;

  div {
    @include input-field();
  }

  label:nth-of-type(2) {
    background: url("../../assets/icons/hidden.svg");
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 1.25rem;
    top: 1.125rem;
    opacity: 1;
  }

  input[type="checkbox"] {
    display: none;

    &:checked ~ label:nth-of-type(2) {
      opacity: 0.5;
    }
  }

  input {
    width: 80%;
    background-color: transparent;
    color: $color-white;
    border: none;
    font-size: $font-sm;
    font-weight: 400;

    &:focus {
      outline: none;
    }
  }

  label:first-child {
    @include hide-label();
  }
}
