@import "global.scss";

.input-password {
  @include input-field();

  .toggle-label {
    background: url("../../assets/icons/hidden.svg");
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 18px;
    opacity: 1;
  }

  .checkbox {
    display: none;

    &:checked ~ .toggle-label {
      opacity: 0.5;
    }
  }

  .input-text {
    width: 80%;
    background-color: transparent;
    color: $color-white;
    border: none;
    font-size: $font-sm;
    font-weight: 400;

    &:focus {
      outline: none;
    }
  }
}
