@import 'global.scss';

.profile-data {
  img {
    position: absolute;
    width: 110px;
    height: 140px;
    object-fit: cover;
    border-radius: $rounded-md;
    top: -10px;
    left: -10px;
  }

  h3 {
    padding-top: 10px;
    margin-left: 120px;
  }
  
  .showcase-container {
    margin-top: 130px;

    p {
      margin-left: 12%;
      margin-bottom: 10px;
    }
  }
}