@import 'global.scss';

.profile-data {
  
  img {
    position: absolute;
    width: 6.875rem;
    height: 8.75rem;
    object-fit: cover;
    border-radius: $rounded-md;
    top: -0.625rem;
    left: -0.625rem;
  }

  h3 {
    padding-top: .625rem;
    margin-left: 7.5rem;
  }
  
  .showcase-container {
    margin-top: 8.125rem;

    p {
      margin-left: 12%;
      margin-bottom: .625rem;
    }
  }
}