@import "global.scss";

.loading-profile-card {
  width: 100%;
  height: 35rem;
  background-color: $color-dark-gray;
  border-radius: $rounded-md;
  max-width: 35rem;
  position: relative;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  .image {
    position: absolute;
    width: 6.875rem;
    height: 8.75rem;
    background-color: $color-light-gray;
    object-fit: cover;
    border-radius: $rounded-md;
    top: -0.625rem;
    left: -0.625rem;
  }

  .like {
    @include match-button();
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
  }

  .dislike {
    @include match-button();
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
  }
}
