@import "global.scss";

.title {
  text-align: center;
  font-size: $font-lg;
  margin-bottom: 15px;
  margin-top: 50px;
}

.sub-title {
  text-align: center;
  font-size: $font-md;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 350px;
}

.link-text {
  margin-top: 20px;
  text-align: center;
  font-size: $font-sm;
}

.link {
  color: $color-white;
  opacity: 0.5;
  margin-left: 5px;
  text-decoration: none;
}